
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vista Bot</title>

	<link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
</head>
<body>
	<div class='fluid-container'>
		<nav class="navbar navbar-inverse" style="border-radius: 0;">
		  <div class="container-fluid">    
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#NavbarCollapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><p style="font-size:30px;font-weight: bold;">Vista Bot</p></a>
		    </div>

		    <div class="collapse navbar-collapse" id="NavbarCollapse">

		      <ul class="nav navbar-nav navbar-right">
		        {% if not request.user.is_authenticated %}
		        <li class='pull-right'><a href='{% url "register" %}'><p style="font-size:22px;font-weight: bold;">Register</p></a></li>
		        <li class='pull-right'><a href='{% url "login" %}'><p style="font-size:22px;font-weight: bold;">Login</p></a></li>
		        {% else %}
		        <li class='pull-right'><p style="font-size:22px;">Hi, {{ user.username }}!</p></li>
		        <li class='pull-right'><a href='{% url "logout" %}'><p style="font-size:22px;font-weight: bold;">Logout</p></a></li>
		        {% endif %}
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

</body>
</html>