
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vista Bot</title>

    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
</head>
<body>
    <div class='fluid-container'>
        <nav class="navbar navbar-inverse" style="border-radius: 0;">
          <div class="container-fluid">    
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#NavbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><p style="font-size:30px;font-weight: bold;">Vista Bot</p></a>
            </div>

            <div class="collapse navbar-collapse" id="NavbarCollapse">

              <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                <li class='pull-right'><a href='{% url "register" %}'><p style="font-size:22px;font-weight: bold;">Register</p></a></li>
                <li class='pull-right'><a href='{% url "login" %}'><p style="font-size:22px;font-weight: bold;">Login</p></a></li>
                {% else %}
                <li class='pull-right'><p style="font-size:22px;">Hi, {{ user.username }}!</p></li>
                <li class='pull-right'><a href='{% url "logout" %}'><p style="font-size:22px;font-weight: bold;">Logout</p></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
    </div>

        <div class="container">
            <form id="login_form" method="post" action="/accounts/register/" class="form-horizontal" role="form">
                {% csrf_token %}
                <h1><center>Registration Form</center></h1><br><br>
                <div class="form-group">
                    <label for="id_username" class="col-sm-4 control-label">Username</label>
                    <div class="col-sm-6">
                        <input type="text" id="id_username" name="username" placeholder="Username" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" id="id_email" name="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" id="id_password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_address1" class="col-sm-4 control-label">Address Line 1</label>
                    <div class="col-sm-6">
                        <input type="text" id="id_address1" name="address1" placeholder="Address Line 1" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_address2" class="col-sm-4 control-label">Address Line 2</label>
                    <div class="col-sm-6">
                        <input type="text" id="id_address2" name="address2" placeholder="Address Line 2" class="form-control" autofocus>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-4">
                        <button type="submit" name="submit" value="Register" class="btn btn-success btn-block">Register</button>
                    </div>
                </div>
            </form>
        </div>


<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
</body>

</html>