{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Cimpress Redhawk</title>
	{% block header_css %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/render.js' %}"></script>


	<!-- //cropper -->
	<link rel="stylesheet" type="text/css" href="{% static 'cropperjs/dist/cropper.min.css' %}">
	<script type="text/javascript" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>



	
	<style type="text/css">
		body {
			/*font-family: 'Droid Sans', sans-serif;*/
			font-family: 'Roboto', sans-serif;
		}

		.font_wt{
			font-weight: normal;
			font-size: x-large;
			border-radius: 15px;
		}

		.inp{
			/*background-color: #69f0ae;*/
			background-color: #4cd964;
		}
		.resp{
			background-color: #007AFF;
			color: #fcf8e3;
		}

		#show_render_big{
			height: 70vh;
			width: 70vh;
			max-width: 70vh;
			max-height: 70vh;
			margin-left: 0px;
		}

	</style>
	
	{% endblock %}
</head>


<body>

		<div class="container text-center">

<!-- <h1> Click Me </h1> -->
<!-- Large modal -->


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <img id="ri1" class="img-responsive" src="" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img id="ri2" class="img-responsive" src="" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
     <div class="item">
      <img id="ri3" class="img-responsive" src="" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img id="ri4" class="img-responsive" src="" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
  </div>
</div>
</div>



	<nav class="navbar navbar-defa srcult">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{% static 'icon/profile-icon.png'%}"></img></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="text-md">Cart</a></li>
					<li><a href="#" class="text-md">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	<div class="container-fluid">
   		<div class="row">
   			
			<div class="col-md-4">
				<div class="row-fluid">
					<div class="panel panel-primary" style="height: 84vh">
						<div class="panel-heading" align="center">
							<h4 class="font_wt">Vista Bot</h4>
						</div>
							
						<div class="panel-body" style="height: 65vh; max-height: 66vh; overflow-y: scroll;" id="panel_messages">
							<div id="br_space"></div>
							<div id="messages"></div>
						</div>
						
						<div class="panel-footer">
							<div class="form-control input-group">
								<input type="text" name="input_chat_text" class="form-control input-md input-group" id="input_chat_text" placeholder="Enter your query here ...">
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- <div class="row-fluid"> -->
			<div class="col-md-2">
				<form action="/cimpress_redhawk/post_form/" method="post" enctype="multipart/form-data" align="left">
					{% csrf_token %}
					{{ form.as_p }}
					<!-- <input type="file" name="docfile" id="docfile" > -->
					<p><input  class="form-control" type="submit" value="Upload" /></p>
				</form>
				<button class="btn btn-default btn-block" type="button" id=
				"render_button" >Render</button>
				<h3 id="item_toggler" onclick="return toggler();"></h3><hr size="20px">

				<div id="panel_display">

				</div>


			</div>
				
			<!-- </div> -->
			
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-4 col-md-offset-3" id="icon_display">
						<a href="#" id="upload_im" onclick="return a_click(this);"><img src="{{ upload_im }}" id="upload_im" height="300vh" width="500vh" ></a>

					</div>
				</div>
				<div class="row">
					
					<div id="show_render_big">
					</div>
				
				</div>		
					
			</div>
		</div>
	</div>
	<input type="file" hidden="true" id="img_upload_button" onclick="return img_upload_button_clicked(this);" style="visibility:hidden">
	<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/chatui.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'js/render.js' %}"></script> -->
<button id="render_modal_button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg" hidden="true">Large modal</button>
</body>

</html>