{% extends "cimpress_redhawk/index.html" %}

{% block navbar %}

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="">
					<h1>ssup</h1>
				</a>
			</div>
		</div>
	</nav>


{% endblock %}